@import url('https://fonts.googleapis.com/css2? family= EB+Garamond:wght@400;700;800 & family= Inter:wght@500;600;700 & display=swap' );

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'inter', sans-serif;
}

body{
    background-color: var(--nav);
    overflow-x: hidden;
}

:root{
  --nav: #000;
  --padrao: #fff;
  --amarelo: #ebc466;
  --fundoBody: #212123;
}

section,footer {
    padding: 54px 0;
    background-color: transparent;
}

html{
    scroll-behavior: smooth;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
    height: ;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    background-color: transparent;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul a{
    color: var(--padrao);
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 14px;
    display: block;

}
nav ul a:nth-child(1){
    color: var(--amarelo);
}
nav ul a:not(.btn)::after{
    content: ''; 
    background-color: var(--padrao);
    height: 3px;
    width: 0%;
    display: block;
    transition: 0.3s;
    margin: 0 auto;
 }
 nav ul a:hover::after{
    width: 100%; 
 }

 nav  h1{
    color: var(--padrao);
    padding-left: 20px;
   
 }
 nav span{
   color: var(--amarelo);
 }

#principal{
    background-image: url(/imagens/imagem\ barbearia.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;

}

.banner-principal{
    position: relative;
    margin-top: 15%;
}
.banner-principal .animada .img{
width: 50px;
}
nav .menu-icon{
    cursor: pointer;
    font: 25px;
    color: var(--amarelo);
    display: none;
}

nav .close-icon{
    display: none;
    font-size: 30px;
    color: var(--amarelo);
}

.animada{
    
    display: flex;
    justify-content: center;
    animation-duration: 3s;
    animation-name: rapidaanimate;
    animation-iteration-count:initial;
}
#imga{
    transform:translatex(6px) translatey(-306px);
   }



 .banner-principal{
    display: block;
    justify-content: center;
    position: relative;
    right: 10%;
 }

 .banner-principal .banner{
    margin: 140px;
    text-align-last: left;
    padding: 0 20px;
 }

 .banner-principal .banner img{
    width: 30%;
    animation-duration: 3s;
   animation-name: rapidaanimate;
   animation-iteration-count:initial;
    
 }

 .banner-principal .banner h1{
    font-size: 4rem;
    text-align: center;
    border-radius: 10px;
    background-color: var(--black);
    color: var(--padrao);
    font-weight: 700;
    margin: 23px 0;
    font-family: 'EB Garamond', serif;
    
    
}

.banner-principal .banner h1 span{
color: var(--amarelo);
}

.btn{
    background-color: var(--nav);
    color: var(--padrao);
    padding: 6px 40px;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    transition: 0.1s ;
}

.btn.botao-animado{
    animation: animate-outline 1s ease-out infinite;
}

@keyframes animate-outline{
    from{
      outline: 0px solid  var(--amarelo);
    }
    to{
      outline: 5px solid  var(--amarelo);
    }
}

.btn:hover{
    background-color: var(--azul);
}




/* SOBRE */
.sobre-barber .container{
    display: flex;
    align-items: center;
}

.sobre-barber-texto{
    width: 50%;
    padding: 0 40px;
}

.sobre-barber-texto .sobre-barber-img{
    width: 50%;
}

.sobre-barber .sobre-barber-texto h3{
    font-size: 56px;
}

.sobre-barber .sobre-barber-texto p {
    margin: 5px 0 10px 0;
    color: var(--padrao);
}

.redes-sociais{
    display: none;
}



/* animações */
   
@keyframes rapidaanimate {
    from {
        margin-top: 100vh;
        width: 300%;
    }
    to {
        margin-bottom: 0%;
        widows: 100%;
    }
    
}





/* sections slider */

.slider{
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}
.slider h2{
font-size: 2.7rem;
color: var(--padrao);
padding: 10px;
}

.slides {
width: 400%;
height: 400px;
display: flex;
}

.slides input {
    display: none;
}

.slide{
    width: 25%;
    position: relative;
}

.slide img{
    width: 800px;
}

.manual-navegacao{
    position: absolute;
    width: 800px;
    margin-top: -50px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid var(--padrao);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child)
{
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: var(--padrao);
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}

.navegacao-auto div{
    border: 2px solid red;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navegacao-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navegacao-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navegacao-auto .auto-btn1{
    background-color: var(--padrao);
}
#radio1:checked ~ .navegacao-auto .auto-btn2{
    background-color: var(--padrao);
}

#radio1:checked ~ .navegacao-auto .auto-btn3{
    background-color: var(--padrao);
}


/* localizacao */

.precos h3{
   
    color: #ffc35a;
    font-size: 70px;
    font-family: sans-serif;
   }
   .precos p{
    font-size: 1.2rem;
    color:#fff;
    
   
}
.precos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20%;
    justify-content: center;
    padding: 20px 10px;
    margin: 50px;
    text-align: center;
}

/* hr */

   .hrnews {
    margin: 0 auto;
    width: 85%;
    border: 1px solid #ffc35a;
    position: relative;
    top: 20px;
   }
   .hrnews2 {
    margin: 0 auto;
    width: 85%;
    border: 1px solid #ffc35a;
    position: relative;
    top: 20px;
   }


   .container h2 {
    position: relative;  
    justify-content: center;
    align-items: center;
    color: #fff;
    display: flex;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 70px;
   }

  
main.cards{
    display:flex;
    padding: 92px;
    
}

   .card h3,p,span{
    color: var(--padrao);
   }
   
   main.cards section.card .icon{
    width: 80px;
    height: 80px;
   }
main.cards section.card img{
    width: 100%;
}
main.cards section.card  h3{
    color: var(--nav);
    font-size: 100%;
}
main.cards section.card span{
    color: var(--nav);
}

main.cards section.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--padrao);
    padding: 1rem 1.5rem;
    border-radius: 5px;
    max-height: 300px;
    margin-left: 2px; 
}

main.cards section.card button{
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 32px;
    border: 0;
    cursor: pointer;
    font-size: 80%;
    font-weight: 500;
    background-color: var(--nav);
    color: #fff;
}

main.cards section.card.barba{
    box-shadow: 20px 20px 50px -30px var(--amarelo);
}
main.cards section.card.pigmentacao{
    box-shadow: 20px 20px 50px -30px var(--amarelo);
}

main.cards section.card.corte{
    box-shadow: 20px 20px 50px -30px var(--amarelo);
}

main.cards section.card.sobrancelha{
    box-shadow: 20px 20px 50px -40px var(--amarelo);
}

main.cards section.card.noivo{
    box-shadow: 20px 20px 50px -30px var(--amarelo);
}

main.cards section.card.acabamentos{
    box-shadow: 20px 20px 50px -30px var(--amarelo);
}

/* responsive cards */ 

@media (max-width: 800px){
    main.cards{
        flex-direction: column;
    }

    main.cards section.card {
        margin-left: 0;
        margin-bottom: 32px;
    }

    main.cards section.card:last-child{
        margin-bottom: 0;
    }

    
}














/* responsividade */

@media (max-width: 830px){
    /* menu modile */
    .container .precos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }
    .container h2{
        font-size: 2rem;
    }

    .container .precos h3,p{
        font-size: 3rem;
        margin: 10px auto;
    }
    body,html{
        overflow-x: hidden;
    }
  
    .ul{
     position: fixed;
     top: 0;
     left: 0;
     background: var(--padrao);
     width: 100%;
     height: 100%;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     clip-path: circle(0% at 100% 0);
      transition: 0.7s;
      z-index: 4;
    }
 
    .ul.open{
     clip-path: circle(100% at 100% );
     background-color: var(--padrao);
 
    }
    .ul a {
     margin: 10px 0;
     font-size: 16px;
 
    }
   
   
    nav .menu-icon{
     display: block;
     color: var(--padrao);
    }
    nav .close-icon{
     display: block;
     position: absolute;
     top: 50px;
     right: 39px;
     height: 28px;
     color: var(--nav)
    }

    .banner-principal{
        position: relative;
        margin-top: 80%;
    }
    .animada{
        display: none;
    }
   
     
     .banner-principal .banner h1{
        font-size: 3rem;
        text-align: right;
        border-radius: 10px;
        color: var(--padrao);
        font-weight: 900;
        margin: 23px 0;
    
    }
    .btn{
        background-color: var(--nav);
        color: var(--padrao);
        padding: 6px 40px;
        cursor: pointer;
        border-radius: 5px;
        display: inline-block;
        transition: 0.1s ;
    }
    
    .btn:hover{
        background-color: transparent;
        border: 1px solid var(--nav);
    }

    .container {
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 5%;
        height: 100vh ;
        
    }

    .banner-principal{
        display: block;
        justify-content: center;
        position: relative;
        right: 30%;
        margin-top: 50%;
     }
    
     .banner-principal .banner{
        margin: 140px;
        text-align-last: left;
        padding: 0 20px;
     }

     nav ul a{
        color: var(--nav);
        border: 1px solid var(--nav);
        border-radius: 14px;
        padding: 10px;
        background-color: transparent;
        margin: 0 25px;
        text-transform: uppercase;
        font-size: 14px;
        display: block;
    
    }
    
    nav ul .redes-sociais a{
        border: none;
    }

    nav ul .redes-sociais img{
        width: 2rem;
        position: relative;
        top: 100px;
    }
    .redes-sociais{
        display: flex;
        background-color: transparent;
    }

    .hrnews2 {
        margin: 0 auto;
        width: 85%;
        border: 1px solid #ffc35a;
        position: relative;
        top: 2px;
       }
    
    
 }


 [data-anime]{
    opacity: 0;
    transition: 0.3s;
}

[data-anime="left"]{
    transform: translate3d(-50px, 0 , 0);
}
[data-anime="right"]{
    transform: translate3d(50px, 0 , 0);
}


[data-anime] .animate{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}


@keyframes animate {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
}
