@import url('https://fonts.googleapis.com/css2? family= EB+Garamond:wght@400;700;800 & family= Inter:wght@500;600;700 & display=swap' );

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'inter', sans-serif;
}

body{
    background-color: var(--fundoBody);
    overflow-x: hidden;
}

:root{
  --nav: #000;
  --padrao: #fff;
  --amarelo: #ebc466;
  --fundoBody: #212123;
}

section,footer {
    padding: 54px 0;
    background-color: transparent;
}


.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
    height: ;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    background-color: transparent;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul a{
    color: var(--padrao);
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 14px;
    display: block;

}
nav ul a:nth-child(1){
    color: var(--amarelo);
}
nav ul a:not(.btn)::after{
    content: ''; 
    background-color: var(--padrao);
    height: 3px;
    width: 0%;
    display: block;
    transition: 0.3s;
    margin: 0 auto;
 }
 nav ul a:hover::after{
    width: 100%; 
 }

 nav  h1{
    color: var(--padrao);
    padding-left: 20px;
   
 }
 nav span{
   color: var(--amarelo);
 }

#principal{
    background-image: url(/imagens/imagem\ barbearia.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;

}

.banner-principal{
    position: relative;
    margin-top: 15%;
}
.banner-principal .animada .img{
width: 50px;
}
nav .menu-icon{
    cursor: pointer;
    font: 25px;
    color: var(--amarelo);
    display: none;
}

nav .close-icon{
    display: none;
    font-size: 30px;
    color: var(--amarelo);
}

.animada{
    
    display: flex;
    justify-content: center;
    animation-duration: 3s;
    animation-name: rapidaanimate;
    animation-iteration-count:initial;
}
#imga{
    transform:translatex(6px) translatey(-306px);
   }



 .banner-principal{
    display: block;
    justify-content: center;
    position: relative;
    right: 10%;
 }

 .banner-principal .banner{
    margin: 140px;
    text-align-last: left;
    padding: 0 20px;
 }

 .banner-principal .banner img{
    width: 30%;
    animation-duration: 3s;
   animation-name: rapidaanimate;
   animation-iteration-count:initial;
    
 }

 .banner-principal .banner p{
    font-size: 6rem;
    text-align: center;
    border-radius: 10px;
    background-color: var(--black);
    color: var(--padrao);
    font-weight: 700;
    margin: 23px 0;
    font-family: 'EB Garamond', serif;
    
    
}

.banner-principal .banner p span{
color: var(--amarelo);
}

.btn{
    background-color: var(--nav);
    color: var(--padrao);
    padding: 6px 40px;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    transition: 0.1s ;
}

.btn.botao-animado{
    animation: animate-outline 1s ease-out infinite;
}

@keyframes animate-outline{
    from{
      outline: 0px solid  var(--amarelo);
    }
    to{
      outline: 5px solid  var(--amarelo);
    }
}

.btn:hover{
    background-color: var(--azul);
}




/* SOBRE */
.sobre .container{
    display: flex;
    align-items: center;
}

.sobre .sobre-barber img{
width: 30%;
}

.sobre-barber{
    width: 50%;
    padding: 0 40px;
}

.sobre .sobre-barber h3{
    font-size: 56px;
    color: var(--padrao);

}

.sobre .sobre-barber p{
    font-size: 1.4rem;
    margin: 5px 0 10px 0;
    color: var(--nav);
    background-color: var(--nav);
    color: var(--padrao);
    border-radius: 30px ;
    padding: 20px;
    border: 1px solid var(--amarelo);
}
.sobre .sobre-barber p:hover{
    background-color: var(--padrao);
    color: var(--nav);
    
}


.sobre .sobre-img img{
    width: 70%;
}

/* animações */
   
@keyframes rapidaanimate {
    from {
        margin-top: 100vh;
        width: 300%;
    }
    to {
        margin-bottom: 0%;
        widows: 100%;
    }
    
}


/* responsividade */

@media (max-width: 830px){
    /* menu modile */


    body,html{
        overflow: hidden;
    }
  
    .ul{
     position: fixed;
     top: 0;
     left: 0;
     background: var(--black);
     width: 100%;
     height: 100%;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     clip-path: circle(0% at 100% 0);
      transition: 0.7s;
      z-index: 4;
    }
 
    .ul.open{
     clip-path: circle(93.3% at 100% 0);
     background-color: var(--amarelo);
 
    }
    .ul a {
     margin: 10px 0;
     font-size: 16px;
 
    }
    .banner-principal .banner img{
          display: none;
    }
   
    nav .menu-icon{
     display: block;
     color: var(--padrao);
    }
    nav .close-icon{
     display: block;
     position: absolute;
     top: 46px;
     height: 28px;
     color: var(--padrao)
    }

    .banner-principal{
        position: relative;
        margin-top: 80%;
    }
    .animada{
        display: none;
    }
   
     
     .banner-principal .banner p{
        font-size: 3rem;
        text-align: right;
        border-radius: 10px;
        background-color: var(--black);
        color: var(--padrao);
        font-weight: 900;
        margin: 23px 0;
    
    }
    .btn{
        background-color: var(--nav);
        color: var(--padrao);
        padding: 6px 40px;
        cursor: pointer;
        border-radius: 5px;
        display: inline-block;
        transition: 0.1s ;
    }
    
    .btn:hover{
        background-color: transparent;
        border: 1px solid var(--nav);
    }

    .container {
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 5%;
        height: 100vh ;
        
    }

    .banner-principal{
        display: block;
        justify-content: center;
        position: relative;
        right: 30%;
     }
    
     .banner-principal .banner{
        margin: 140px;
        text-align-last: left;
        padding: 0 20px;
     }

     nav ul a{
        color: var(--padrao);
        border: 1px solid var(--padrao);
        border-radius: 14px;
        padding: 10px;
        background-color: var(--nav);
        margin: 0 25px;
        text-transform: uppercase;
        font-size: 14px;
        display: block;
    
    }
   
     
 }